/* Body custom styling */
body{
    background-color: #A2D4DC;
}

/* styling to add padding to nav */
.squeeze{
    padding-left: 40px;
    padding-right: 40px;
}

/* styling to add space between icons in navbar brand */
.additional{
    margin-left: 10px;
}

/* styling for container */
.container{
    max-width: 90%;
}

/* styling to customize container */
.wrapper{
    background-color: #F2F5F5;
    margin-top: 20px;
    margin-bottom: 80px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

/* styling for main content containers on bio and portfolio page */
.bio, .portfolio{
    padding-bottom: 30px;
    margin-bottom: 110px;
}

/* styling for h1 heading in wrapper class */
.wrapper h1{
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 3px;
}

/* styling for images in wrapper class*/
.wrapper img{
    margin-right: 10px;
}

/* custom styling for card class */
.card{
    width: 18rem;
    margin: auto;
    float: none;
    margin-bottom: 10px;
    border: black solid 1px;
}

/* styling for card images */
.smallcard img{
    height: auto;
    margin: auto;
    max-width: 95%;
}

/* custom styling to add more margin at the bottom of the element */
.margin-bottom-larger{
    margin-bottom:
     100px;
}
/* custom styling to make the container on contact page smaller at a fixed height */
.smaller{
    height: 470px;
}

/* @media query for screens 320px and lower in width */
@media (max-width: 320px) {

    /* styling to add padding to nav */
    .squeeze{
        padding-left: 20px;
        padding-right: 20px;
    }

    /* styling for navbar collapsible button */
    .navbar-toggler {
        font-size: 1.0rem;
    }

    /* styling for h1 elements */
    h1{
        font-size: 1.0rem;
    }

    /* styling for container */
    .container {
        font-size: small;
    }

    /* styling for cards */
    .smallcard{
        width: 10rem;
        height: auto;
    }
}

/* @media query for screens between 321px and 350px in width*/
@media (min-width: 321px) and (max-width: 350px) {

    /* styling for h1 elements */
    h1{
        font-size: 1.5rem;
    }

    /* styling for container */
    .container {
        font-size: smaller;
    }

    /* styling for cards */
    .smallcard{
        width: 12rem;
        height: auto;
    }
}

/* @media query for extra small screens */
@media (min-width: 351px) and (max-width: 575.98px) {
    
    /* Make the h1 heading size small */
    h1{
        font-size: 1.5rem;
    }

    /* Make the container fit the width of the screen and make the font size smaller */
    .container{
        font-size: smaller;
        word-break: break-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    /* Make the cards on the portfolio page small */
    .smallcard {
        width: 14rem;
        height: auto;
    }
}

/* @media query for screens 575px and lower in width */
@media (max-width: 575px) {
    .bio, .portfolio{
        margin-bottom: 90px;
    }
}

/* @media query for small and medium screens */
@media (min-width: 576px) and (max-width: 991.98px) {

    /* Make the h1 heading smaller */
    h1{
        font-size: 2.0rem;
    }

    /* Make the container smaller and make the font size smaller*/
    .container{
        font-size: medium;
    }

    .wrapper {
        margin-bottom: 100px;
    }

    /* Make the cards on the portfolio page smaller */
    .smallcard{
        width: 16rem;
        height: auto;
    }
}